## 姊妹篇   飞桨 推荐系统  tf

数据来源
### https://grouplens.org/datasets/movielens/

- 基于内容推荐
- 基于用户推荐


- 矩阵分解

- 相似度
    -  欧式距离
    -  Jaccard相似
    -  COS相似
    -  pearson 相似

- item协同过滤和用户协同过滤   商品相似 和用户相似


- 冷启动code start 没有用户
    - 不设置推荐
    - 新上item（）
- gray sheep

- 商品,用户增加 复杂



- 总是给用户推荐相似的item


RMSE   平方 线下评估

MAE   绝对值

F1 & F2

recall & precision  召回率 


A/B testing


CTR  CR  点击率 Click through Rate  转换率  Conversion Rate   点了 并且很好的看完了，或者购买了

https://blog.csdn.net/mycafe_/article/details/79146764

https://blog.csdn.net/livan1234/article/details/85159859

In [3]:
import sys
sys.path

['',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\python35.zip',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\DLLs',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib\\site-packages',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib\\site-packages\\win32',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib\\site-packages\\win32\\lib',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib\\site-packages\\Pythonwin',
 'E:\\ProgramData\\Anaconda3\\envs\\tensorflow\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Administrator\\.ipython']

#### https://surprise.readthedocs.io/en/stable/getting_started.html#automatic-cross-validation

In [108]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate

# Load the movielens-100k dataset (download it if needed).
data = Dataset.load_builtin('ml-100k')

# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.7346  0.7391  0.7371  0.7444  0.7331  0.7377  0.0039
RMSE (testset)    0.9337  0.9383  0.9346  0.9431  0.9306  0.9361  0.0043
Fit time          4.22    4.30    4.26    4.51    4.84    4.43    0.23
Test time         0.18    0.11    0.18    0.11    0.20    0.15    0.04

{'fit_time': (4.223261117935181,
  4.30074667930603,
  4.258285045623779,
  4.5090227127075195,
  4.838872194290161),
 'test_mae': array([0.73462619, 0.73913965, 0.73709827, 0.74438656, 0.73309114]),
 'test_rmse': array([0.93372658, 0.93825259, 0.93462536, 0.9431113 , 0.93058581]),
 'test_time': (0.17847132682800293,
  0.10731148719787598,
  0.17649555206298828,
  0.10725235939025879,
  0.20351362228393555)}

#### 通过GridSearch获取最优参数

In [109]:
from surprise.model_selection import GridSearchCV

# 定义好需要优选的参数网格
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
# 使用网格搜索交叉验证
grid_search = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'])
# 在数据集上找到最好的参数
data = Dataset.load_builtin('ml-100k')
data.split(n_folds=3)
grid_search.fit(data)

In [110]:
# 输出调优的参数组 
# 输出最好的RMSE结果
print(grid_search.best_score['rmse'])
# >>> 0.96117566386

# 输出对应最好的RMSE结果的参数
print(grid_search.best_params['rmse'])
# >>> {'reg_all': 0.4, 'lr_all': 0.005, 'n_epochs': 10}

print(grid_search.best_score['mae'])
# >>> 0.7708418493208119

print(grid_search.best_params['mae'])
# >>> {'reg_all': 0.4, 'lr_all': 0.005, 'n_epochs': 10}

0.9612542033380874
{'reg_all': 0.4, 'lr_all': 0.005, 'n_epochs': 10}
0.7703649132479415
{'reg_all': 0.4, 'lr_all': 0.005, 'n_epochs': 10}

In [111]:
trainset = data
### 使用NormalPredictor
from surprise.model_selection import cross_validate

### 使用SVD
from surprise import SVD

# Use the famous SVD algorithm.
algo = SVD(reg_all=0.4,lr_all=0.005,n_epochs=10)
# Load the movielens-100k dataset (download it if needed).
data = Dataset.load_builtin('ml-100k')

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.7649  0.7677  0.7693  0.7755  0.7722  0.7699  0.0037
RMSE (testset)    0.9574  0.9572  0.9599  0.9688  0.9610  0.9608  0.0043
Fit time          2.34    2.30    2.19    2.21    2.18    2.24    0.06
Test time         0.19    0.11    0.17    0.11    0.18    0.15    0.04

{'fit_time': (2.339210033416748,
  2.2981340885162354,
  2.193765640258789,
  2.212876558303833,
  2.1767051219940186),
 'test_mae': array([0.76486324, 0.76772869, 0.76933496, 0.77548984, 0.77219424]),
 'test_rmse': array([0.95735658, 0.9571511 , 0.95990405, 0.96882084, 0.96097567]),
 'test_time': (0.19151711463928223,
  0.10728979110717773,
  0.17445898056030273,
  0.10501241683959961,
  0.17947626113891602)}

In [114]:
from surprise import accuracy
from surprise.model_selection import train_test_split

# Load the movielens-100k dataset (download it if needed),
data = Dataset.load_builtin('ml-100k')

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.25)

# We'll use the famous SVD algorithm.
algo = SVD(reg_all=0.4,lr_all=0.005,n_epochs=10)

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
(accuracy.rmse(predictions),accuracy.mae(predictions))

RMSE: 0.9579
MAE:  0.7680

(0.9579236932468679, 0.7679532489615066)

In [115]:
uid = str(196)  # raw user id (as in the ratings file). They are **strings**!
iid = str(302)  # raw item id (as in the ratings file). They are **strings**!

# get a prediction for specific users and items.
pred = algo.predict(uid, iid, r_ui=4, verbose=True)

user: 196        item: 302        r_ui = 4.00   est = 4.03   {'was_impossible': False}

## 基于sk-suprise 对 ml-latest-small 进行推荐

In [8]:
import pandas as pd
import numpy as np

In [9]:
ratings_df = pd.read_csv('./ml-latest-small/ratings.csv')

In [10]:
ratings_df.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [11]:
movies_df = pd.read_csv("./ml-latest-small/movies.csv")

In [12]:
movies_df['movieRow'] = movies_df.index

In [13]:
movies_df.tail()

,movieId,title,genres,movieRow
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,9737
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,9738
9739,193585,Flint (2017),Drama,9739
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,9740
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,9741

In [14]:
movies_df = movies_df[['movieRow','movieId','title']]
movies_df.to_csv('./ml-latest-small/moviesProcess.csv',index=False,header=True,encoding='utf-8')

In [15]:
movies_df.tail()

      movieRow  movieId                                      title
9737      9737   193581  Black Butler: Book of the Atlantic (2017)
9738      9738   193583               No Game No Life: Zero (2017)
9739      9739   193585                               Flint (2017)
9740      9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741      9741   193609        Andrew Dice Clay: Dice Rules (1991)

In [16]:
ratings_df = pd.merge(ratings_df,movies_df,on='movieId')

In [17]:
ratings_df.tail()

,userId,movieId,rating,timestamp,movieRow,title
100831,610,160341,2.5,1479545749,9325,Bloodmoon (1997)
100832,610,160527,4.5,1479544998,9330,Sympathy for the Underdog (1971)
100833,610,160836,3.0,1493844794,9342,Hazard (2005)
100834,610,163937,3.5,1493848789,9389,Blair Witch (2016)
100835,610,163981,3.5,1493850155,9390,31 (2016)

In [18]:
ratings_df = ratings_df[['userId','movieRow','rating']]
ratings_df.to_csv('./ml-latest-small/ratingsProcess.csv',index=False,header=True,encoding='utf-8')

In [32]:
ratings_df.head()

   userId  movieRow  rating
0       1         0     4.0
1       5         0     4.0
2       7         0     4.5
3      15         0     2.5
4      17         0     4.5

In [33]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 3 columns):
userId      100836 non-null int64
movieRow    100836 non-null int64
rating      100836 non-null float64
dtypes: float64(1), int64(2)
memory usage: 3.1 MB

## 矩阵

In [20]:
userNo = ratings_df['userId'].max()+1
movieNo = ratings_df['movieRow'].max() +1

In [21]:
userNo

611

In [22]:
movieNo

9742

In [23]:
rating = np.zeros((movieNo,userNo))

In [24]:
flag = 0
ratings_df_length =  np.shape(ratings_df)[0]
for index,row in ratings_df.iterrows():
    rating[int(row['movieRow']),int(row['userId'])] = row["rating"]
    flag +=1
    #print('process %d,%d'%(flag,ratings_df_length-flag))

In [25]:
record = rating>0
record

array([[False,  True, False, ...,  True,  True,  True],
       [False, False, False, ...,  True, False, False],
       [False,  True, False, ...,  True, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [26]:
record = np.array(record,dtype=int)

In [27]:
record

array([[0, 1, 0, ..., 1, 1, 1],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

## 构建模型

In [ ]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import train_test_split

### 看原来的数据结构

In [28]:

# 首先，用算法计算相互间的相似度
data = Dataset.load_builtin('ml-100k')
trainset = data.build_full_trainset()

In [40]:
(trainset.all_users(),trainset.all_items())

(range(0, 943), range(0, 1682))

In [41]:
trainset.all_ratings()

In [44]:
ratings_df.head()

   userId  movieRow  rating
0       1         0     4.0
1       5         0     4.0
2       7         0     4.5
3      15         0     2.5
4      17         0     4.5

In [49]:
movies_df.head()

   movieRow  movieId                               title
0         0        1                    Toy Story (1995)
1         1        2                      Jumanji (1995)
2         2        3             Grumpier Old Men (1995)
3         3        4            Waiting to Exhale (1995)
4         4        5  Father of the Bride Part II (1995)

In [84]:
movies_df.loc

movieRow                           3
movieId                            4
title       Waiting to Exhale (1995)
Name: 3, dtype: object

### 使用模拟的数据组成 user-item-rating数据

In [164]:
from surprise import Reader
# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 5))
# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(ratings_df[['userId', 'movieRow', 'rating']], reader)

In [165]:
cross_validate(SVD(), data, cv=5)

{'fit_time': (4.393716335296631,
  4.419747829437256,
  4.413764953613281,
  4.443788528442383,
  4.504002809524536),
 'test_mae': array([0.67184442, 0.66615165, 0.66986649, 0.67236668, 0.67381547]),
 'test_rmse': array([0.87324259, 0.8647197 , 0.86824341, 0.87713774, 0.88315214]),
 'test_time': (0.10725164413452148,
  0.18148350715637207,
  0.11329841613769531,
  0.117340087890625,
  0.19047975540161133)}

In [166]:

trainset = data.build_full_trainset()

from surprise import KNNBaseline
algo = KNNBaseline()
algo.fit(trainset)

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.

In [167]:

mov_id = 1
# Retrieve inner ids of the nearest neighbors of Toy Story.
toy_story_neighbors = algo.get_neighbors(mov_id, k=10)

# Convert inner ids of the neighbors into names.
print('The 10 nearest neighbors of %s  are:' %(movies_df.iloc[mov_id]['title']))
print(u'最相似的10部电影是：'.center(80, '='))
# 获取电影名到电影id 和 电影id到电影名的映射
for i in toy_story_neighbors:
    #print(u'评分: %.2f, 电影名: %s' % (predicts[i, int(user_id)]-2, movies.iloc[i]['title']))
    print(u'    电影名: %s' % ( movies_df.iloc[i]['title']))

The 10 nearest neighbors of Jumanji (1995)  are:
==================================最相似的10部电影是：===================================
    电影名: Anne Frank Remembered (1995)
    电影名: Flirting With Disaster (1996)
    电影名: Batman Forever (1995)
    电影名: Under Siege 2: Dark Territory (1995)
    电影名: Swan Princess, The (1994)
    电影名: Higher Learning (1995)
    电影名: Schindler's List (1993)
    电影名: Searching for Bobby Fischer (1993)
    电影名: Chasers (1994)
    电影名: Bhaji on the Beach (1993)

In [168]:
toy_story_neighbors = algo.get_neighbors(1, k=10)

In [169]:
toy_story_neighbors

[101, 108, 126, 172, 272, 316, 461, 463, 491, 493]

In [170]:
movies_df.iloc[1]

movieRow                 1
movieId                  2
title       Jumanji (1995)
Name: 1, dtype: object

In [171]:
pred = algo.predict(1, 2, r_ui=4, verbose=True)

user: 1          item: 2          r_ui = 4.00   est = 4.09   {'was_impossible': False, 'actual_k': 40}

In [172]:
pred = algo.predict(2, 1, r_ui=4, verbose=True)

user: 2          item: 1          r_ui = 4.00   est = 3.59   {'was_impossible': False, 'actual_k': 40}

##  根据user 预测item

### 构建一个新的数据从users 到items 的预测数据集

In [173]:
userNo,movieNo

(611, 9742)

In [174]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [ ]:
ratings_df[ratings_df['userId']==3][ratings_df['movieRow']==1]

In [ ]:
predicts = [(3,1,0),(3,2,0),(1,1,0)]
algo.test(similarity_matrix)

In [ ]:
predicts = [(3,1,0),(3,2,0),(3,3,0)]
predictions =algo.test(predicts)
for uid, iid, true_r, est, _ in predictions:
    print(_['actual_k'])

def get_predicts():
    predicts = [(3,1,0),(3,2,0),(3,3,0)]
    predictions =algo.test(predicts)
    for uid, iid, true_r, est, _ in predictions:
        predicts[uid].append((iid, est))
    return predicts
predicts = get_predicts()

for uid, user_ratings in predicts.items():
    user_ratings.sort(key = lambda x : x[1], reverse = True)
    top_n[uid] = user_ratings[:n]   #取前n个

In [194]:
# build similarity matrix
similarity_matrix = np.ndarray(shape=(userNo, movieNo), dtype=np.int32)
for i in range(userNo):
    for j in range(movieNo):
        similarity_matrix[i][j] = algo.predict(i,j).est

In [198]:
similarity_matrix.dtype

dtype('float64')

In [207]:
similarity_matrix[0][1]

3.5225982392463666

In [208]:
predicts = pd.DataFrame(similarity_matrix)

In [228]:
np.argsort(similarity_matrix[1],axis=0)

0

In [232]:
similarity_matrix[1].argsort()[::-1][1]

9142

In [229]:
predicts.loc[1].sort(key = lambda x : x[1], reverse = True)

AttributeError: 'DataFrame' object has no attribute 'sort'

In [209]:
### 前20条数据
def recommend(movies):
    #print(u'您要想哪位用户进行推荐？请输入用户编号：')
    user_id = input(u'您要想哪位用户进行推荐？请输入用户编号：')
    predicts.loc[user_id]
    sortedResult = predicts[:, int(user_id)].argsort()[::-1]
    # argsort()函数返回的是数组值从小到大的索引值; argsort()[::-1] 返回的是数组值从大到小的索引值
    print(u'为该用户推荐的评分最高的20部电影是：'.center(80, '='))
    # center() 返回一个原字符串居中,并使用空格填充至长度 width 的新字符串。默认填充字符为空格。
    idx = 0
    for i in sortedResult:
        print(u'评分: %.2f, 电影名: %s' % (predicts[i, int(user_id)]-2, movies.iloc[i]['title']))
        idx += 1
        if idx == 20:
            break

In [210]:

recommend(movies_df)

您要想哪位用户进行推荐？请输入用户编号：2

TypeError: unhashable type: 'slice'

### tf

In [44]:
def Ratings(rating,record):
    m,n = rating.shape
    rating_mean = np.zeros((m,1))
    rating_norm = np.zeros((m,n))
    for i in range(m):
        idx = record[i,:]!=0
        rating_mean[i] = np.mean(rating[i,idx])
        rating_norm[i,idx] -= rating_mean[i]
    return rating_mean,rating_norm

In [45]:
rating_mean,rating_norm = Ratings(rating,record)

E:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\numpy\core\fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
E:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [46]:
rating_mean

array([[3.92093023],
       [3.43181818],
       [3.25961538],
       ...,
       [3.5       ],
       [3.5       ],
       [4.        ]])

In [47]:
rating_mean = np.nan_to_num(rating_mean)
rating_norm = np.nan_to_num(rating_norm)

In [48]:
rating_mean

array([[3.92093023],
       [3.43181818],
       [3.25961538],
       ...,
       [3.5       ],
       [3.5       ],
       [4.        ]])

## 之前的模型 计算函数


![](fn.png)

![](two.png)

In [77]:
num_features = 10
X_pa = tf.Variable(tf.random_normal([movieNo,num_features],stddev=0.35))
Theta_pa = tf.Variable(tf.random_normal([userNo,num_features],stddev=0.35))
loss = 1/2*tf.reduce_sum(((tf.matmul(X_pa,Theta_pa,transpose_b=True) -rating_norm)*record)**2) \
    + 1/2*(tf.reduce_sum(X_pa**2)+tf.reduce_sum(Theta_pa**2))

In [78]:
optimizer = tf.train.AdadeltaOptimizer(1e-4)
train = optimizer.minimize(loss)

### 上面就是下面这两个方法

In [56]:
#构建模型
def normalizeRatings(rate,record):
    m,n = rate.shape
    rating_mean = np.zeros((m,1))
    rating_norm = np.zeros((m,n))
    for i in range(m):
        idx = (record[i,:]!=0)
        rating_mean[i] = np.mean(rate[i,idx])
        rating_norm[i,idx] = rate[i,idx] - rating_mean[i]
    return rating_norm,rating_mean

In [59]:
def build_model(rate,record,movies_no,user_no):
    rating_norm,rating_mean = normalizeRatings(rate,record)
    rating_mean = np.nan_to_num(rating_mean)
    num_features = 10
    x = tf.Variable(tf.random_normal([movies_no,num_features],stddev= 0.35))
    theta = tf.Variable(tf.random_normal([user_no,num_features],stddev=0.35))

    loss = 1/2 * tf.reduce_sum(((tf.matmul(x, theta, transpose_b=True) - rating_norm) * record) ** 2) + \
        0.5*(1/2 * (tf.reduce_sum(x ** 2) + tf.reduce_sum(theta ** 2)))

    train = tf.train.AdamOptimizer(1e-3).minimize(loss)
    return x,theta,train,loss,rating_mean

In [60]:
 x,theta,train,loss,rating_mean = build_model(rating,record,movieNo,userNo)

E:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\numpy\core\fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
E:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

## 训练模型

In [70]:
tf.summary.scalar('train_loss',loss)
summaryMerged = tf.summary.merge_all()
filename = "./ml-latest-small/movie_tensorborad"
writer = tf.summary.FileWriter(filename)

init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
for i in range(2000):
    _,movie_summary = sess.run([train,summaryMerged])
    writer.add_summary(movie_summary,i)
    current_x,current_theta = sess.run([x,theta])
    predicts = np.dot(current_x,current_theta.T) + rating_mean
    # 欧式距离 判断是否相近
    error = np.sqrt(np.sum(((predicts - rating)*record)**2))
    #print(u'模型评估errors：', error)


## tensorboard

tensorboard.exe  --logdir=./movie_tensorborad

http://127.0.0.1:6006

In [73]:
def recommend(movies):
    #print(u'您要想哪位用户进行推荐？请输入用户编号：')
    user_id = input(u'您要想哪位用户进行推荐？请输入用户编号：')
    sortedResult = predicts[:, int(user_id)].argsort()[::-1]
    # argsort()函数返回的是数组值从小到大的索引值; argsort()[::-1] 返回的是数组值从大到小的索引值
    print(u'为该用户推荐的评分最高的20部电影是：'.center(80, '='))
    # center() 返回一个原字符串居中,并使用空格填充至长度 width 的新字符串。默认填充字符为空格。
    idx = 0
    for i in sortedResult:
        print(u'评分: %.2f, 电影名: %s' % (predicts[i, int(user_id)]-2, movies.iloc[i]['title']))
        idx += 1
        if idx == 20:
            break

In [75]:

recommend(movies_df)

您要想哪位用户进行推荐？请输入用户编号：
您要想哪位用户进行推荐？请输入用户编号：34
==============================为该用户推荐的评分最高的20部电影是：===============================
评分: 5.60, 电影名: Transformers (2007)
评分: 4.83, 电影名: Rumble in the Bronx (Hont faan kui) (1995)
评分: 4.78, 电影名: Hot Rod (2007)
评分: 4.76, 电影名: Shrek the Third (2007)
评分: 4.72, 电影名: Your Highness (2011)
评分: 4.67, 电影名: Guardians of the Galaxy 2 (2017)
评分: 4.47, 电影名: Thirteenth Floor, The (1999)
评分: 4.34, 电影名: Wimbledon (2004)
评分: 4.30, 电影名: Arrival (2016)
评分: 4.28, 电影名: Grown Ups 2 (2013)
评分: 4.28, 电影名: Smoke (1995)
评分: 4.23, 电影名: Screamers (1995)
评分: 4.19, 电影名: Knight and Day (2010)
评分: 4.18, 电影名: Harry Potter and the Deathly Hallows: Part 1 (2010)
评分: 4.17, 电影名: Spy (2015)
评分: 4.17, 电影名: Melancholia (2011)
评分: 4.15, 电影名: Easy A (2010)
评分: 4.14, 电影名: Closer (2004)
评分: 4.14, 电影名: Blended (2014)
评分: 4.12, 电影名: Men of Honor (2000)